#preview_img{
    position:absolute;z-index:1;
}

#container{
    display:inline-block;
    margin: 0 auto; 
    background: white; 
    position:relative; 
    border:5px solid white; 
    border-radius: 10px; 
    box-shadow: 0 5px 50px #333}

#faceCanvas{
    position:relative;
    z-index:20;
}